In [94]:
!pip intall mysql-connector-python

ERROR: unknown command "intall" - maybe you meant "install"

In [95]:
import mysql.connector as connector

In [96]:
connection = connector.connect(user = "root", password = "Iamwhoiam14")

In [97]:
connection = connector.connect(user = "root", password = "Iamwhoiam14", db = "db-capstone-project-sql")

In [98]:
cursor=connection.cursor()

In [99]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [100]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

bookings
customerdetails
menuitems
menus
orderdeliverystatus
orders
ordersview

In [101]:
customer_join_query = '''
        SELECT
        CONCAT(customerdetails.FirstName, ' ' ,customerdetails.LastName) AS FullName,
        customerdetails.ContactNo AS ContactNumber,
        customerdetails.email,
        orders.TotalCost
        FROM orders
        JOIN customerdetails ON orders.CustomerID = customerdetails.CustomerID
        WHERE orders.TotalCost > 60
        ORDER BY orders.TotalCost DESC;
'''

In [102]:
cursor.execute(customer_join_query)

In [103]:
customers = cursor.fetchall()

In [104]:
print(f'There are {len(customers)} customers with more than $60 of spending: \n')

for customer in customers[:5]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Phone Number: \t {customer[1]}')
    print(f'Email: \t\t {customer[2]}')
    print(f'Has spent: \t {float(customer[3])}')

There are 3 customers with more than $60 of spending:

==================================================
Full Name: 	 Michael Winn
Phone Number: 	 5514568922
Email: 		 mikeinn@gmail.com
Has spent: 	 275.0
==================================================
Full Name: 	 Edwin Smith
Phone Number: 	 2018980092
Email: 		 esmith@gmail.com
Has spent: 	 200.0
==================================================
Full Name: 	 Froiland Gerne
Phone Number: 	 2017865499
Email: 		 friog@gmail.com
Has spent: 	 75.0